# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcworkspace/
!default.xcworkspace
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
/.build/

# CocoaPods
/Pods/
Podfile.lock

# Carthage
/Carthage/Checkouts/
/Carthage/Build/
